[Application]
name=APC_control
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=myapp:ApcGui
icon=myapp.ico

[Python]
version=3.6.3

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels = requests==2.18.4
serial
time
telnetlib
tkinter
os
re

# To bundle packages which don't publish wheels, see the docs on the
# config file.

# Other files and folders that should be installed
files = logo.gif
apctk.py
apctk.conf

    data_files/